.main-content>.img-wrapper>img:first-child {
    max-inline-size: 100%;
    block-size: auto;
    aspect-ratio: 5 / 3;
    object-fit: cover;
}

@media (max-width: 62.5rem) {
    .main-content>.img-wrapper>img:last-child {
        display: none;
    }
}

@media (min-width: 62.5rem) {
    .main-content>.img-wrapper>img:first-child {
        display: none;
    }
}