@import "./img-wrapper.css";
@import "./benefits.css";
@import "./form.css";

.main-content {
    grid-column: 1 / 5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content>.text-wrapper {
    padding: 4rem 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    transform: translateX(11rem);
}

@media (min-width: 24.375rem) {
    .main-content {
        background-color: var(--white);
        border-radius: 0 0 1.6rem 1.6rem;
    }
}

@media (min-width: 31.25rem) {
    .main-content {
        padding: 4rem 4rem 0 4rem;
    }
}

@media (min-width: 62.5rem) {
    .main-content {
        grid-column: 2 / 12;
        padding: 2.4rem;
        flex-direction: row-reverse;
        border-radius: 1.6rem;
        gap: 6.4rem;
    }

    .main-content > .text-wrapper {
        padding: 7.3rem 0rem 7.4rem 4rem;
    }
}
