.text-heading {
    font-size: clamp(4rem, 5vw, 5.6rem);
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0rem;
}

.text-body {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0rem;
}

.text-body-bold {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0rem;
}

.text-body-small {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0rem;
}

.text-input {
    font-family: 'Roboto Flex', sans-serif;
    font-optical-sizing: auto;
    font-size: 1.6rem;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    letter-spacing: 0rem;
}
